body {
  background: linear-gradient(90deg, #B811AE 0%, #000000 100%);
}
.nav-link {
    color:aquamarine;
}

.navbar-nav .nav-link.active {
  color: rgb(142, 135, 135);
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
  background-color: rgb(142, 135, 135);
}

.sidebar {
    color: aquamarine;
    background: linear-gradient(270deg, #B811AE 0%, #000000 100%);
}