/* 
по тегу 1
класс 10
id 100
стиль в самом теге 1000
 */
.main.border-div {
    background-color: rgb(125, 121, 121);
    border-style: dotted;
}
/* 10+10 */

.main {
    background-color: aqua;
}
/* 10 */

.border-div {
    border-style: solid !important;
}
/* 10 */