/* 
по тегу 1
класс 10
id 100
стиль в самом теге 1000
 */
div {
    background-color: rgb(100, 103, 97);
}
/* 1 */

div.main {
    background-color: rgb(171, 173, 116);
}
/* 1+10 */

.main {
    background-color: rgb(73, 199, 24);
}
/* 10 */
