p {
  font-size: 24;
  background-color: rgb(103, 190, 103);

}

.conteiner {
  display: inline-block;
  text-align: center;
  background-color: rgb(111, 108, 108);

}

.main {
  text-align: center;
}

.conteiner>img {
  width: 300px;
}