    p {
    font-size: 24;
    background-color: rgb(70, 170, 70);
}

.conteiner {
    display: inline-block;
    text-align: center;
   background-color: rgb(103, 102, 102);
}

.main {
    text-align: center;
}